
Old/Argentina Chile.html
Old/Australia/Australia.html
Old/CNAME
Old/Eastern Africa.html
Old/Iceland.html
Old/index.html
Old/Latin America.html
Old/LeftPane.html
Old/RightPane.html
Old/Southern Africa.html
Old/SVG template.txt
Old/World Footprint Oz Centric 20250112.svg
Old/xIndex.html
Resources/World Footprint Oz Centric 20250112.jpg
Tools/Apache/-- Win64 VS17  --
Tools/Apache/Apachi httpd-2.4.62-240904-win64-VS17.zip
Tools/Apache/ReadMe.txt
Tools/Git-2.47.1-64-bit.exe
Tools/Inkscape_V1.3.2.exe
Tools/Interactive Maps/Argentina Chile.html
Tools/Interactive Maps/Australia.html
Tools/Interactive Maps/Eastern Africa.html
Tools/Interactive Maps/Iceland.html
Tools/Interactive Maps/Latin America.html
Tools/Interactive Maps/SimpleMaps/documentation.html
Tools/Interactive Maps/SimpleMaps/html5worldmapv4.5_trial.zip
Tools/Interactive Maps/SimpleMaps/license.txt
Tools/Interactive Maps/SimpleMaps/mapdata.js
Tools/Interactive Maps/SimpleMaps/test.html
Tools/Interactive Maps/SimpleMaps/worldmap.js
Tools/Interactive Maps/Southern Africa.html
Tools/Interactive Maps/WikiCommon/Physical Map of the World/Physical_Map_of_the_World_(2021).svg
Tools/Interactive Maps/WikiCommon/Physical Map of the World/Word Map Download.txt
Tools/Interactive Maps/World Footprint Oz Centric 20250112.svg
Tools/VC_redist.x64.exe
Tools/VSCodeUserSetup-x64-1.96.2.exe
Test/Hoverlist.html
Old/Americas 20250116.svg
Old/Centralia 20250116.svg
Old/EuroAfrica 20250116.svg
Old/index - Copy (2).html
Old/index - Copy.html
Old/Notes.rtf
Test/index.html
Test/MyAmericas.svg
Test/MyCentralia.svg
Test/MyEuroAfrica.svg
Test/simple.svg
Notes.rtf
Old/MyAmericas.svg
Old/MyCentralia.svg
Old/MyEuroAfrica.svg
Old/MyWorld.svg
Resources/MyAmericas.svg
Resources/MyCentralia.svg
Resources/MyEuroAfrica.svg
Resources/MyWorld.svg
Resources/OzWanderer Logo.JPG
Resources/MyWorld1.svg
Resources/OzWandererMastHead.JPG
Resources/Old/20250117/Americas 20250116.svg
Resources/Old/20250117/Argentina Chile.html
Resources/Old/20250117/Australia/Australia.html
Resources/Old/20250117/Centralia 20250116.svg
Resources/Old/20250117/CNAME
Resources/Old/20250117/Eastern Africa.html
Resources/Old/20250117/EuroAfrica 20250116.svg
Resources/Old/20250117/Iceland.html
Resources/Old/20250117/index - Copy (2).html
Resources/Old/20250117/index - Copy.html
Resources/Old/20250117/index.html
Resources/Old/20250117/Latin America.html
Resources/Old/20250117/LeftPane.html
Resources/Old/20250117/MyAmericas.svg
Resources/Old/20250117/MyCentralia.svg
Resources/Old/20250117/MyEuroAfrica.svg
Resources/Old/20250117/MyWorld.svg
Resources/Old/20250117/RightPane.html
Resources/Old/20250117/Southern Africa.html
Resources/Old/20250117/SVG template.txt
Resources/Old/20250117/World Footprint Oz Centric 20250112.svg
Resources/Old/20250117/xIndex.html
Resources/Test/Australia/AustraliaAlbumns.html
Resources/Test/Australia/AustraliaBlogs.html
Resources/Test/Australia/AustraliaVideos.html
Resources/Test/Hoverlist.html
Resources/Test/index.html
Resources/Test/MyAmericas.svg
Resources/Test/MyCentralia.svg
Resources/Test/MyEuroAfrica.svg
Resources/Test/MyWorld.svg
Resources/Test/simple.svg
Resources/Tools/Apache/-- Win64 VS17  --
Resources/Tools/Apache/Apachi httpd-2.4.62-240904-win64-VS17.zip
Resources/Tools/Apache/ReadMe.txt
Resources/Tools/Git-2.47.1-64-bit.exe
Resources/Tools/Inkscape_V1.3.2.exe
Resources/Tools/Interactive Maps/Argentina Chile.html
Resources/Tools/Interactive Maps/Australia.html
Resources/Tools/Interactive Maps/Eastern Africa.html
Resources/Tools/Interactive Maps/Iceland.html
Resources/Tools/Interactive Maps/Latin America.html
Resources/Tools/Interactive Maps/SimpleMaps/documentation.html
Resources/Tools/Interactive Maps/SimpleMaps/html5worldmapv4.5_trial.zip
Resources/Tools/Interactive Maps/SimpleMaps/license.txt
Resources/Tools/Interactive Maps/SimpleMaps/mapdata.js
Resources/Tools/Interactive Maps/SimpleMaps/test.html
Resources/Tools/Interactive Maps/SimpleMaps/worldmap.js
Resources/Tools/Interactive Maps/Southern Africa.html
Resources/Tools/Interactive Maps/WikiCommon/Physical Map of the World/Physical_Map_of_the_World_(2021).svg
Resources/Tools/Interactive Maps/WikiCommon/Physical Map of the World/Word Map Download.txt
Resources/Tools/Interactive Maps/World Footprint Oz Centric 20250112.svg
Resources/Tools/VC_redist.x64.exe
Resources/Tools/VSCodeUserSetup-x64-1.96.2.exe
Resources/index.html
Resources/Old/20250118/index ( single link).html
Resources/Old/20250118/index.html
Resources/Old/20250118/MyWorld.svg
Resources/Old/20250119/index.html
Resources/Old/20250119/Test.svg
Resources/Test.svg
Resources/Test/Test.svg
Test.svg
Resources/Test/Argentina-Chile/Albumns/UnderStruction.html
Resources/Test/Argentina-Chile/Videos/UnderStruction.html
Resources/Test/Australia/Australia.html
Resources/Test/Iceland/IcelandAlbumns..html
Resources/Test/Iceland/IcelandBlogs.html
Resources/Test/Iceland/IcelandVideos.html
Resources/UnderStruction.html
Argentina-Chile/Albumns/UnderStruction.html
Argentina-Chile/Videos/UnderStruction.html
Resources/OzWandererMastHead.png
Resources/OzWandererMastHead.svg
Resources/Test/Argentina-Chile/Albumns/UnderConstruction.html
Resources/Test/Argentina-Chile/Blogs/UnderConstruction.html
Resources/Test/Argentina-Chile/UnderConstruction.html
Resources/Test/Argentina-Chile/Videos/UnderConstruction.html
Resources/Test/Eastern-Africa/Albumn/UnderConstruction.html
Resources/Test/Eastern-Africa/Blogs/UnderConstruction.html
Resources/Test/Eastern-Africa/UnderConstruction.html
Resources/Test/Eastern-Africa/Videos/UnderConstruction.html
Resources/Test/Iceland/Albumns/UnderConstruction.html
Resources/Test/Iceland/Blogs/UnderConstruction.html
Resources/Test/Iceland/UnderConstruction.html
Resources/Test/Iceland/Videos/UnderConstruction.html
Resources/Test/Latin-America/Albumns/UnderConstruction.html
Resources/Test/Latin-America/Blogs/UnderConstruction.html
Resources/Test/Latin-America/Videos/UnderConstruction.html
Resources/Test/OzWandererMastHead.png
Resources/Test/Southern-Africa/Albumn/UnderConstruction.html
Resources/Test/Southern-Africa/Blogs/UnderConstruction.html
Resources/Test/Southern-Africa/UnderConstruction.html
Resources/Test/Southern-Africa/Videos/UnderConstruction.html
Resources/Test/Start.html
Resources/UnderConstruction.html
Resources/OzWandererMastHead(s).png
Resources/Test/OzWandererMastHead(s).png
Resources/MyWorld with logo.svg
Resources/Test/MyWorld ( with logo ).svg
Resources/Test/Antarctica/Albumn/UnderConstruction.html
Resources/Test/Antarctica/Blogs/UnderConstruction.html
Resources/Test/Antarctica/UnderConstruction.html
Resources/Test/Antarctica/Videos/UnderConstruction.html
Resources/Test/Arctic/Albumn/UnderConstruction.html
Resources/Test/Arctic/Blogs/UnderConstruction.html
Resources/Test/Arctic/UnderConstruction.html
Resources/Test/Arctic/Videos/UnderConstruction.html
Resources/Test/Brazil/Albumn/UnderConstruction.html
Resources/Test/Brazil/Blogs/UnderConstruction.html
Resources/Test/Brazil/UnderConstruction.html
Resources/Test/Brazil/Videos/UnderConstruction.html
Resources/Test/China/Albumn/UnderConstruction.html
Resources/Test/China/Blogs/UnderConstruction.html
Resources/Test/China/UnderConstruction.html
Resources/Test/China/Videos/UnderConstruction.html
Resources/Test/Japan/Albumn/UnderConstruction.html
Resources/Test/Japan/Blogs/UnderConstruction.html
Resources/Test/Japan/UnderConstruction.html
Resources/Test/Japan/Videos/UnderConstruction.html
Resources/Test/Malaysia/Albumn/UnderConstruction.html
Resources/Test/Malaysia/Blogs/UnderConstruction.html
Resources/Test/Malaysia/UnderConstruction.html
Resources/Test/Malaysia/Videos/UnderConstruction.html
Resources/Test/Philippines/Albumn/UnderConstruction.html
Resources/Test/Philippines/Blogs/UnderConstruction.html
Resources/Test/Philippines/UnderConstruction.html
Resources/Test/Philippines/Videos/UnderConstruction.html
Resources/Test/USA/Albumn/UnderConstruction.html
Resources/Test/USA/Blogs/UnderConstruction.html
Resources/Test/USA/UnderConstruction.html
Resources/Test/USA/Videos/UnderConstruction.html
Resources/.picasa.ini
Resources/Footprint 2011 Lap.svg
Resources/Footprints to end of 2024 ( Australia ).svg
Resources/Old/20250122/
Resources/pics/20150718 Footprint to Hornsby.jpg
Resources/pics/20170926 Footprint to Hornsby ( Entire Trip ).jpg
Resources/pics/Atomic Bomb test in Australia.jpg
Resources/pics/Australia.2024.svg
Resources/pics/Australian Mangeos-5.JPG
Resources/pics/Bald Rock Walk in the morning ( Summit trail )-014.JPG
Resources/pics/Barcaldine ( Tree of Knowledge )-001.JPG
Resources/pics/Barge crossing from River Heads to Wanggoolba Creek-001.JPG
Resources/pics/Big Red (on top)-008.JPG
Resources/pics/Bunfa Cliffs at 133K Peg in the morning-004.JPG
Resources/pics/Cable Beach II ( camel riders )-021.JPG
Resources/pics/Chambers Pillar Historical Reserve-024.JPG
Resources/pics/Footprint 20241013 to HOME.jpg
Resources/pics/Footprint Full Trip 2013 Lap.jpg
Resources/pics/Footprint Sydney to Sydney 2.jpg
Resources/pics/Footprints 2013 Lap 2.svg
Resources/pics/Footprints 2015 Lap 3.svg
Resources/pics/Footprints 2017 Lap 4.svg
Resources/pics/Footprints 2024 Lap 5.svg
Resources/pics/Footprints to end of 2024 ( Australia ).bmp
Resources/pics/Geikie Gorge in the late afternoon ( boat cruise )-073.JPG
Resources/pics/Giant Tingle Tree walk-056.JPG
Resources/pics/Glass House Mountains ( Coonowrin )-027.JPG
Resources/pics/Great Ocean Rd ( Twelve Apostles )-114.JPG
Resources/pics/Hancock Gorge walk (  )-004.JPG
Resources/pics/Hiking up Wave Rock-022.JPG
Resources/pics/Injalak Hill walk with Tommo ( main gallery arts )-096.JPG
Resources/pics/Junction of CSR and highway-012.JPG
Resources/pics/Left front wheel bearing collapsed on track to Teardrops Falls-007.JPG
Resources/pics/Moralana Dr western entrance-0.JPG
Resources/pics/Mt Isa Campdraft (in the afternoon)-022.JPG
Resources/pics/Nourlangie Rock rock arts ( Nabuwinjbuwinj )-019.JPG
Resources/pics/Pentacost River Crossing on Gibb River Rd-0.JPG
Resources/pics/Sunset at One Mile Camp (Dinner Tree)-26.JPG
Resources/pics/The Tip before sunset-033.JPG
Resources/pics/Tom Price Motor Sports Club-0.JPG
Resources/pics/Tracking to Big Red-010.JPG
Resources/pics/Wanuwuy Campsite in the morning (  )-012.JPG
Resources/Test/Australia.html
Resources/Test/Australia/Australia 2024.svg
Resources/Test/Australia/Footprints 2011 Lap.svg
Resources/Test/Australia/Footprints 2013 Lap.svg
Resources/Test/Australia/Footprints 2015 Lap.svg
Resources/Test/Australia/Footprints 2017 Lap.svg
Resources/Test/Australia/Footprints 2024 Lap.svg
Resources/Test/Footprints to end of 2024 ( Australia ).bmp
Resources/Test/World.html
Resources/xFootprints to end of 2024 ( Australia ).svg
