
Old/Argentina Chile.html
Old/Australia/Australia.html
Old/CNAME
Old/Eastern Africa.html
Old/Iceland.html
Old/index.html
Old/Latin America.html
Old/LeftPane.html
Old/RightPane.html
Old/Southern Africa.html
Old/SVG template.txt
Old/World Footprint Oz Centric 20250112.svg
Old/xIndex.html
Resources/World Footprint Oz Centric 20250112.jpg
Tools/Apache/-- Win64 VS17  --
Tools/Apache/Apachi httpd-2.4.62-240904-win64-VS17.zip
Tools/Apache/ReadMe.txt
Tools/Git-2.47.1-64-bit.exe
Tools/Inkscape_V1.3.2.exe
Tools/Interactive Maps/Argentina Chile.html
Tools/Interactive Maps/Australia.html
Tools/Interactive Maps/Eastern Africa.html
Tools/Interactive Maps/Iceland.html
Tools/Interactive Maps/Latin America.html
Tools/Interactive Maps/SimpleMaps/documentation.html
Tools/Interactive Maps/SimpleMaps/html5worldmapv4.5_trial.zip
Tools/Interactive Maps/SimpleMaps/license.txt
Tools/Interactive Maps/SimpleMaps/mapdata.js
Tools/Interactive Maps/SimpleMaps/test.html
Tools/Interactive Maps/SimpleMaps/worldmap.js
Tools/Interactive Maps/Southern Africa.html
Tools/Interactive Maps/WikiCommon/Physical Map of the World/Physical_Map_of_the_World_(2021).svg
Tools/Interactive Maps/WikiCommon/Physical Map of the World/Word Map Download.txt
Tools/Interactive Maps/World Footprint Oz Centric 20250112.svg
Tools/VC_redist.x64.exe
Tools/VSCodeUserSetup-x64-1.96.2.exe
Test/Hoverlist.html
Old/Americas 20250116.svg
Old/Centralia 20250116.svg
Old/EuroAfrica 20250116.svg
Old/index - Copy (2).html
Old/index - Copy.html
Old/Notes.rtf
Test/index.html
Test/MyAmericas.svg
Test/MyCentralia.svg
Test/MyEuroAfrica.svg
Test/simple.svg
Notes.rtf
Old/MyAmericas.svg
Old/MyCentralia.svg
Old/MyEuroAfrica.svg
Old/MyWorld.svg
Resources/MyAmericas.svg
Resources/MyCentralia.svg
Resources/MyEuroAfrica.svg
Resources/MyWorld.svg
Resources/OzWanderer Logo.JPG
Resources/MyWorld1.svg
Resources/OzWandererMastHead.JPG
